body{
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}
nav{

    background-color: #007b8f;
    color: white;
    padding: 20px;
    text-align: center;
    justify-content: space-evenly;
    display: flex;

}
.logo{
    font-weight: bold;
    font-size: 28px;
    margin-left: 2rem;

}

.navbar a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font: 14px;;
}

.banner {
    position: relative;
    background-image: url("./images/image.jpg"); 
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 450px;

}

.banner-content {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 8px;
}

.banner-content h2 {
    font-size: 32px;
    margin-bottom: 10px;
}

.banner-content p {
    font-size: 16px;
    margin-bottom: 15px;
}

.banner-content button {
    background-color: #ff5733;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}

.banner-content button:hover {
    background-color: #e04b2b;
}


.section{
    padding: 20px;
    margin: 0 auto;
}
.section h3{
    /* color: #007b8f; */
    font-size: 22px;
    margin-bottom: 10px;  
}

.section p{
    font-size: 16px;
    color: #333;  
    margin-bottom:10px ;
}
.section ul{
    list-style-type: circle;
    margin-top:10px;
}

.section ul li{
    margin-bottom: 8px;
}

.footer {
    background-color: #007b8f;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    font-size: 14px;
}