body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
nav {
    background-color: rgb(87, 17, 236);
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 4px solid white;
}
.logo {
    font-weight: bold;
    font-size: 1.5rem;
    margin: 2px;
}
.links a {
    color: white;
    text-decoration: none;
    margin-left: 1rem;
    padding: 1rem ;
    text-decoration: underline;
    font-weight: bold;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2rem;
}
.box {
    width: 500px;
    height: 450px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    box-shadow: 0 0 10px black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.box:hover {
    transform: scale(1.05); /* Slightly enlarge the card */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); /* Add a deeper shadow */
  }

.box img {
    width: 100%;
    height: 310px;
    object-fit: cover;
    border-radius: 5px;
}
.box button {
    background-color: #217524;
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 3px;
    pointer-events:visibleStroke green;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.card button:active {
    background-color: #2c3e50; /* Darker color on click */
    transform: scale(0.95); /* Slightly shrink the button on click */
  }
  
p{
    text-size-adjust: 50%;
}

p.footer{
    width: auto;
    height: 50px;
    background-color: rgb(87, 17, 236);
    color: white;
    text-align: center;
    padding-top: 35px;
    font-weight: bold;
}